:root {
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}
body {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-ms-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}